<div class="container">
  <div class="half" (click)="showDuck()">
    <h1>Click me for Duck pictures!</h1>
    <div *ngIf="duckImage" class="content">
      <img [src]="duckImage" alt="Random Duck" />
    </div>
  </div>
  <div class="half" (click)="showFox()">
    <h1>Click me for Fox pictues!</h1>
    <div *ngIf="foxImage" class="content">
      <img [src]="foxImage" alt="Random Fox" />
    </div>
  </div>
</div>
<div class="button-container">
  <button (click)="goToMainPage()">Go to Main Page</button>
</div>