<div class="container">
    <div class="half" (click)="showCat()">
        <h1>Click me for Cat pictures and facts!</h1>
        <div *ngIf="catFact">
            <img [src]="catImage" alt="Random Cat" />
            <p>{{ catFact }}</p>
        </div>
    </div>
    <div class="half" (click)="showDog()">
        <h1>Click me for Dog pictures and facts!</h1>
        <div *ngIf="dogFact">
            <img [src]="dogImage" alt="Random Dog" />
            <p>{{ dogFact }}</p>
        </div>
    </div>
</div>
<div class="button-container">
    <button (click)="goToSecondPage()">Go to Bonus Animals</button>
</div>